---
import type { Slug } from 'sanity';

interface Props {
	builtAt: string;
	isVisibleOnMount?: boolean;
	logo: string;
	name: string;
	slug: Slug;
}

const {
	builtAt,
	isVisibleOnMount = true,
	logo,
	name,
	slug,
} = Astro.props;
---

<a class='work-card-container animated-card-work' href={`/work/${slug.current}`} title={name}>
	<div class='image-container'/>
	<div class='content-container'>
		<div class='top-content'>
			{new Date(builtAt).getFullYear()}
		</div>
		<div class='bottom-content'>
			{name}
		</div>
		<div class='bottom-content-mobile'>
			discover
		</div>
	</div>
</a>

<style define:vars={{
	backgroundImage: `url(${logo})`,
	opacity: isVisibleOnMount ? 1 : 0,
	translate: isVisibleOnMount ? 'translateY(0)' : 'translateY(-7px)',
}}>

	.work-card-container {
		opacity: var(--opacity);
		transform: var(--translate);
		position: relative;
		border: 1px solid var(--grey-3);
		border-radius: var(--size-md);
		background-color: var(--white-base);
		display: block;
		width: 20rem;
		height: 18rem;
		overflow: hidden;
		transition: var(--transition-default);

		@media screen and (max-width: 40.625rem)) {
			border: 1px solid var(--grey-3) !important;
			width: 80%;
			height: 230px;
			.image-container:after {
				display: none;
			}
			.content-container { padding: 1rem 0; }
			.top-content { opacity: 0 !important; visibility: hidden !important; }
			.bottom-content { display: none; }
			.bottom-content-mobile {
				font-size: var(--font-default);
				letter-spacing: 2px;
				display: block;
				padding: var(--size-s);
				text-align: center;
				background-color: var(--white-3);
				color: var(--black-4);
				transform: translateY(10px);
				transition: var(--transition-slow) .2s;
			}
		};
	}

	.image-container {
		position: relative;
		background-image: var(--backgroundImage);
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 100%;
		transition: var(--transition-slow);
		z-index: 1;
	}
	.image-container:after {
		display: block;
		content: '';
		width: 16px;
		height: 16px;
		margin: .5rem auto 0;
		clip-path: circle(25%);
		background-color: var(--accent);
		transition: var(--transition-slow);
		will-change: width, height, clip-path, transform;
		z-index: 1;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		top: 0;
		width: 100%;
		height: 90%;
		padding: var(--size-md);
		color: var(--white);
		text-decoration: none;
		z-index: 999;
	}

	.top-content {
		font-size: var(--font-large);
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);
		transition: var(--transition-slow) .1s;
	}

	.bottom-content {
		font-size: var(--font-heading-small);
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		transition: var(--transition-slow) .2s;
	}
	.bottom-content-mobile { display: none; }

	.work-card-container:hover {
		border: 1px solid var(--white);
	}
	.work-card-container:hover .image-container {
		scale: .94;
	}
	.work-card-container:hover .image-container:after {
		clip-path: circle(50%);
		width: 200%;
		height: 200%;
		left: 0;
		transform: translateX(-190px) translateY(-80px);
	}
	.work-card-container:hover .top-content {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
	.work-card-container:hover .bottom-content {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
</style>
