---
const welcomeMessage = 'welcome to my simple personal website and playground';
const messageWords = welcomeMessage.split(' ');
---

<h1 class='intro'>
	{messageWords.map((word) => <span class='word'>{word}</span>)}
</h1>

<style>
	.intro {
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--size-xl);
		font-size: var(--font-heading-large);
		font-weight: 400;
		padding: 8rem 1rem 18rem;

		@media screen and (max-width: 650px) {
			align-content: center;
			height: 42vh;
			font-size: var(--font-heading-default);
			gap: 1rem 1.2rem;
			padding: 8rem 1rem 8rem;
			& > span {
				letter-spacing: 2px;
				&:last-child {
					&::after {
						width: 6px !important;
						height: 6px !important;
						transform: translateY(-12px) !important;
					}
				}
			}
		};
	}
	.word {
		opacity: 0;
		transform: translateY(4px);
		display: flex;
		align-items: end;
	}
	.intro > span:last-child::after {
		display: block;
		content: '';
		width: 9px;
		height: 9px;
		border-radius: 50%;
		opacity: 0;
		background-color: var(--accent);
		transform: translateY(-16px);
		animation: .3s fadeIn 2.1s ease-in-out forwards;
	}
</style>

<script>
	import { ANIMATION_TYPE, animateElements } from "@/utils/index";

	const words = document.querySelectorAll('.word');
	animateElements({ targets: words, animationType: ANIMATION_TYPE.SLIDE_IN });
</script>
