---
import Icon from 'astro-icon';

interface Props {
	title: string;
	pageUrl?: string;
	quantity?: number;
}

const { title, pageUrl, quantity } = Astro.props;
---

<section class='preview-section' id={`preview-section-${title}`}>
	<h2 class='section-title'>
		{title}
	</h2>
	<div class='section-content'>
		<div class='cards-container'>
			<slot />
		</div>
	</div>
	{quantity && quantity >= 3 ? (
		<a class='see-more' href={pageUrl} title={`see more ${title}`}>
			<Icon width='30px' height='30px' name='pixelarticons:chevron-right' />
		</a>
	) : <a href='#' title='see more' />}
</section>

<style>
	.preview-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5rem 0;

		@media screen and (max-width: 650px) {
			flex-direction: column;
			padding: 1rem 0;

			.section-title {
				text-orientation: initial;
				writing-mode: initial;
				transform: rotate(0deg);
				letter-spacing: 3px;
				&:before {
					transform: translateX(-5px) translateY(45px);
				}
			}
			.section-content {
				width: 100%;
				padding: 3rem 0;
			}
			.see-more {
				text-decoration: none;
				color: var(--black);
				margin-left: 0rem;
				& svg { width: 0; }
				&:after {
					position: relative;
					left: 0px;
					opacity: 1;
					visibility: visible;
					font-size: var(--font-default);
				}

				&:before {
					display: block;
					content: '';
					width: 10px;
					height: 2px;
					background-color: var(--accent);
					margin-right: 5px;
					border-radius: 10px;
				}

				&:hover {
					transform: translateX(-0px);
					color: var(--black);
					&:after {
						color: var(--black);
						transform: translateX(0px);
					}
				}
			}
		};
		@media screen and (min-width: 651px) and (max-width: 1024px) {
			flex-direction: column;
			padding: 1rem 0;

			.section-title {
				text-orientation: initial;
				writing-mode: initial;
				transform: rotate(0deg);
				letter-spacing: 5px;
				&:before {
					transform: translateX(-5px) translateY(45px);
				}
			}
			.section-content {
				width: 100%;
				padding: var(--size-xxl) 0;
			}
			.see-more {
				text-decoration: none;
				color: var(--black);
				margin-left: 0rem;
				& svg { width: 0; }
				&:after {
					position: relative;
					left: 0px;
					opacity: 1;
					visibility: visible;
					font-size: var(--font-default);
				}

				&:before {
					display: block;
					content: '';
					width: 10px;
					height: 2px;
					background-color: var(--accent);
					margin-right: 5px;
					border-radius: 10px;
				}

				&:hover {
					transform: translateX(-0px);
					color: var(--black);
					&:after {
						color: var(--black);
						transform: translateX(0px);
					}
				}
			}
		};
	}
	.section-title {
		font-size: var(--font-heading-small);
		font-weight: 400;
		text-orientation: mixed;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		letter-spacing: 10px;
	}
	.section-title:before {
		content: '';
		display: block;
		width: 15px;
		height: 5px;
		margin: auto;
		border-radius: 50px;
		background-color: var(--accent);
		transform: translateX(-5px);
	}
	.section-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
	}
	.cards-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--size-xl);
	}
	.see-more {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		color: var(--black);
		transition: var(--transition-default);
		margin-left: 2rem;
	}
	.see-more:after {
		content: 'see more';
		display: block;
		position: absolute;
		left: 15px;
		font-size: var(--font-small);
		white-space:nowrap;
		opacity: 0;
		visibility: hidden;
		transition: var(--transition-default);
	}
	.see-more:hover {
		transform: translateX(-10px);
		color: var(--white);
	}
	.see-more:hover:after {
		transform: translateX(-10px);
		color: var(--black);
		opacity: 1;
		visibility: visible;
	}
</style>
