---
import PageLayout from '@/layouts/Page/index.astro';
import Welcome from '@/components/Welcome/index.astro';
import SectionWorkCards from '@/components/Sections/WorkCards/index.astro';
import SectionProjectCards from '@/components/Sections/ProjectCards/index.astro';
---

<PageLayout
	seo={{
		title: 'welcome',
		description: 'Welcome page of Hedik Portfolio and personnal playground, to discover his work and shit'
	}}
>
	<section>
		<Welcome />
	</section>
	<SectionWorkCards />
	<SectionProjectCards />
</PageLayout>
