---
import PageLayout from '@/layouts/Page/index.astro';
import WorkCard from '@/components/Cards/Work/index.astro';
import type { DataWork } from '@/types/index';
import { urlForImage } from '@/utils/index';
import { sanityClient } from '@/data/sanity';

let works: DataWork[] | undefined
try {
	works = await sanityClient.fetch(`*[_type == "work"] | order(builtAt desc)`);
} catch {
	works = undefined;
}
---

<PageLayout
	seo={{
		description: 'discover all my professional apps and websites i have built over the years',
		title: 'work'
	}}
	title='work'
>
	<div class='cards-container'>
		{works && works.map((work: DataWork) => (
			<WorkCard
				builtAt={work.builtAt}
				logo={urlForImage(work.logo).url()}
				name={work.name}
				slug={work.slug}
			/>
		))}
	</div>
</PageLayout>

<style>
	.cards-container {
		display: flex;
		justify-content: center;
		gap: var(--size-xxl) var(--size-xl);
		flex-wrap: wrap;

		@media screen and (max-width: 650px) {
			gap: 2rem 0;
		};
	}
</style>