---
import { sanityClient } from '@/data/sanity';
import type { DataFooter } from '@/types/index';
import { Icon } from 'astro-icon';

const dataFooter: DataFooter = await sanityClient.fetch(`*[_id == "footer"][0]`);
---

<footer>
	<div class='me'>
		hedik
	</div>
	<div class='separator'/>
	<div class='social'>
		{dataFooter.socialLinks.map((socialLink) => (
			<a href={socialLink.url} title={socialLink.name} target='_blank' rel='noreferrer noopener' title={socialLink.name}>
				<Icon name={`simple-icons:${socialLink.name}`} width={21} height={21} />
			</a>
		))}
	</div>
</footer>

<style>
	footer {
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		bottom: 0;
		box-sizing: border-box;
		padding: var(--size-md) var(--size-md) var(--size-xs);
		background-color: var(--white);
		box-shadow: -2px -20px 10px -6px var(--white);

		@media screen and (max-width: 650px) {
			padding: var(--size-md) var(--size-xl) var(--size-xs);
			.separator:after { display: none; }
		};
		@media screen and (min-width: 651px) and (max-width: 1024px) {
			.separator:after { position: relative; }
		};
	}

	.me { font-size: var(--font-small); }
	.separator:after {
		display: block;
		content: '';
		width: 6px;
		height: 6px;
		background-color: var(--accent);
		border-radius: 50px;
		position: absolute;
		top: 48%;
		left: 50%;
		right: 50%;
	}
	.social {
		display: flex;
		align-items: center;
		gap: 0 var(--size-md);
	}
	.social a {
		color: var(--black);
		transition: var(--transition-default);

		&:hover {
			color: var(--accent);
			transform: translateY(-2px);
		}
	}
</style>