---
import { PortableText as PortableTextInternal } from 'astro-portabletext'
import PortableTextImage from '@/components/PortableTextImage/index.astro';

const components = {
	type: {
		image: PortableTextImage,
	}
};

const { value } = Astro.props;
---
<div class='text-container'>
	<PortableTextInternal
		value={value}
		components={components}
	/>
</div>

<style>
	.text-container {
		display: flex;
		flex-direction: column;
		gap: .4rem;
		a { color: var(--accent); }
	}
</style>