---
import './index.css';
import Navbar from '@/components/Navbar/index.astro';
import Footer from '@/components/Footer/index.astro';

export interface Props {
	seo: {
		title: string;
		description: string;
	}
	title?: string;
}

const { seo, title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>hedik - {seo.title}</title>
		<meta name='description' content={seo.description}>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='theme-color' content='#fff'>
		<meta name='generator' content={Astro.generator} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
	</head>
	<body>
		<Navbar />
		{title && (
			<div class='presentation-title'>
				<div class='dots'>.....</div>
				{title}
			</div>
		)}
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
