---
import Navbar from '@/components/Navbar/index.astro';
import Footer from '@/components/Footer/index.astro';

export interface Props {
	seo: {
		title: string;
		description: string;
	}
	title?: string;
}

const { seo, title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>hedik - {seo.title}</title>
		<meta name='description' content={seo.description}>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='theme-color' content='#fff'>
		<meta name='generator' content={Astro.generator} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
	</head>
	<body>
		<Navbar />
		{title && (
			<div class='presentation-title'>
				<div class='dots'>.....</div>
				{title}
			</div>
		)}
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'LondonUnderground';
		src: url('/fonts/london_underground_regular.ttf') format('truetype');
		font-display: block;
		font-weight: 400;
	}

	@keyframes fadeIn{
		to { opacity: 1; }
	}
	@keyframes slideIn{
		to { opacity: 1; transform: translateY(0); }
	}

	:root {
		/* global */
		--page-desktop-width: 85%;
		--page-mobile-width: 100%;
		/* themes */
		--accent: #dd2c2c;
		--black: #131313;  
		--black-2: #232323;
		--black-3: #333333;
		--black-4: #3c3c3c;
		--green: #74e77e;
		--grey: #d4d4d4;
		--grey-2: #c0c0c0;
		--grey-3: #b6b6b6;
		--grey-4: #ababab;
		--red: #e56161;
		--white-base: #fff;
		--white: #F6F6F6;
		--white-2: #f0f0f0;
		--white-3: #ececec;
		--white-4: #e8e8e8;
		--white-5: #e4e4e4;
		/* font-sizes */
		--font-small: 0.8rem;
		--font-default: 0.9rem;
		--font-large: 1.2rem;
		--font-heading-small: 2rem;
		--font-heading-default: 3rem;
		--font-heading-large: 4rem;
		/* sizes */
		--size-xxs: .4rem;
		--size-xs: .6rem;
		--size-s: .8rem;
		--size-md: 1rem;
		--size-lg: 1.2rem;
		--size-xl: 1.4rem;
		--size-xxl: 1.6rem;
		/* transition */
		--transition-default: .2s;
		--transition-slow: .4s;
	}

	html {
		font-family: 'LondonUnderground';
		background-color: var(--white);
		color: var(--black);
		font-size: var(--font-default);
		text-transform: lowercase;

		@media screen and (max-width: 650px) {
		};
		@media screen and (min-width: 651px) and (max-width: 1024px) {
		};
		@media screen and (min-width: 1025px) {
		};
	}

	body {
		margin: 0; padding: 0; border: 0;
	}

	main {
		width: var(--page-desktop-width);
		margin: var(--size-xxl) auto;
		padding: var(--size-md) var(--size-md) 2.5rem;
		display: flex;
		flex-direction: column;
		gap: 8rem 0;

		@media screen and (max-width: 650px) {
			width: var(--page-mobile-width);
			padding: var(--size-md) 0 4rem;
			gap: 5rem 0;
		};
		@media screen and (min-width: 651px) and (max-width: 1024px) {
		};
	}

	.presentation-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 2rem;
		letter-spacing: 10px;
		font-size: var(--font-heading-small);
		font-weight: 400;
		position: fixed;
		top: 39%;
		left: var(--size-xxl);
		text-orientation: mixed;
		transform: rotate(180deg);
		writing-mode: vertical-lr;
		.dots {
			color: var(--accent);
			text-align: center;
			margin-right: -8px;
		}

		@media screen and (max-width: 650px) {
			position: relative;
			top: 0;
			left: 0px;
			margin-left: 0;
			letter-spacing: 2px;
			text-orientation: initial;
			transform: rotate(0deg);
			writing-mode: initial;
			justify-content: center;
			align-items: center;
			padding-bottom: var(--size-md);
			.dots {
				margin-left: -15px;
				transform: translateY(55px);
			}
		};
		@media screen and (min-width: 651px) and (max-width: 1024px) {
			position: relative;
			top: 0;
			left: 0;
			margin-left: 0;
			text-orientation: initial;
			transform: rotate(0deg);
			writing-mode: initial;
			justify-content: center;
			align-items: center;
			padding-bottom: var(--size-md);
			letter-spacing: 7px;
			.dots {
				margin-left: 0;
				transform: translateY(55px);
			}
		};
	}
	.animated-slideIn { animation: slideIn 0.7s ease-in-out forwards; }
	.animated-fadeIn { animation: fadeIn 0.7s ease-in-out forwards; }
</style>